.card-prod{
    margin: 2rem;
    border: none;
}
.card-prod:hover{
    transform: scale(1.02);
}


.btn-detalles{
    background-color:rgb(128, 142, 143);
    border: none;
}

.btn-detalles:hover{
    background-color:rgb(255,194,158);
    transition: 0.5s;
}