.navbar .navbar-brand img{
    width : 144px;
}

.navbar-light .navbar-nav .nav-link{
    margin: 0.5rem;
    font-size: 1.5rem;
    

}
.navegacion .link-nav{
    text-decoration: none;
    color: rgb(128, 142, 143)
}
.navegacion .link-nav:hover{
    text-decoration: none;
    color:rgb(255,194,158);
}
.navegacion .link-activo{
    color:rgb(255,194,158);
}
